.HomePage__task-list-section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.HomePage__no-tasks  {
  font-style: italic;
  color: var(--ring);
}