.PasswordInput__container {
  position: relative;
  display: flex;
  align-items: center;
}

.PasswordInput__field {
  flex: 1;
  padding-right: 2rem;
}

.PasswordInput__toggle {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}